.app-screen {
  padding: 20px;
  max-width: 500px;
  margin: auto;
  font-family: Arial, sans-serif;
}

/* ===== INSTAGRAM ===== */
.feed {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post {
  background: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.post-img {
  height: 200px;
  background: #ddd;
  margin: 10px 0;
  border-radius: 8px;
}

.post-header {
  font-weight: bold;
}

.post-actions {
  font-size: 18px;
}

/* ===== YOUTUBE CLONE ===== */

.yt-container {
  font-family: Arial, sans-serif;
}

/* NAVBAR */
.yt-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: white;
  border-bottom: 1px solid #ddd;
}

.yt-navbar input {
  padding: 8px;
  width: 250px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

/* BODY */
.yt-body {
  display: flex;
}

/* SIDEBAR */
.yt-sidebar {
  width: 180px;
  padding: 15px;
  background: #f9f9f9;
  height: 100vh;
}

.yt-sidebar p {
  margin: 10px 0;
  cursor: pointer;
}

/* CONTENT */
.yt-content {
  flex: 1;
  padding: 20px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* VIDEO CARD */
.yt-video {
  cursor: pointer;
}

.yt-thumb {
  height: 160px;
  background: #ddd;
  border-radius: 10px;
  margin-bottom: 8px;
}

/* ===== WHATSAPP ===== */
.chat {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
}

.left {
  background: #eee;
  align-self: flex-start;
}

.right {
  background: #25d366;
  color: white;
  align-self: flex-end;
}

/* ===== GAME ===== */
button {
  padding: 10px 20px;
  margin-top: 20px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
